body,
html {
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

* {
	padding: 0;
	margin: 0;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	position: relative;
	/* 这两个可以理解为右边的页面往中间移动 */
	.turn-on-enter,
	.turn-off-leave-to {
		transform: translate3d(100%, 0, 0);
		-webkit-transform: translate3d(100%, 0, 0);
	}
	/* 这两个可以理解为左边的页面往中间移动 */
	.turn-off-enter,
	.turn-on-leave-to {
		transform: translate3d(-100%, 0, 0);
		-webkit-transform: translate3d(-100%, 0, 0);
	}
	.turn-on-enter-active,
	.turn-on-leave-active,
	.turn-off-enter-active,
	.turn-off-leave-active {
		transition: transform .4s ease;
		-webkit-transition: transform .4s ease;
	}
	.app-view {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 100%;
	}
}
